@model IEnumerable<Lanche>

<div>
    <h2>@ViewData["Titulo"]</h2>
</div>

<div class="row">

    @foreach (var lanche in Model)
    {
        <div class="col-4">
            <p><img src="@lanche.ImagemUrl" class="imsg-fluid"></p>
            <h3>Preço : @lanche.Preco.ToString("c")</h3>
            <h4>@lanche.Nome</h4>
            <p>@lanche.DescricaoCurta</p>
        </div>
    }
</div>